.categorie a li{
    display:inline;
    text-decoration: none;
    color: black;
}
.admin{
    margin-left:1500px;
}

.panier{
    margin-left:1490px;
}

.footer h5{
    background-color: #256C6C;
    color: white;
    padding: 10px 656px;
}

 header h1{
    margin-left: 40px;
}

.menu{
    margin-left: 15px;
}

.menu li{
    display: inline;
}

.menu li a{
    padding: 15px 78px;
    background-color: #256C6C;
    text-decoration: none;
    color: white;
}

.menu li a:hover{
    background-color: #123636;
    text-decoration: none;
    color: white;
}

#wrapper{
    width 690px;
    border: 5px solid #256C6C;
    margin: 50px auto;
    <!--min-height: 1400px;-->
}
                    
#header {
    width: 500px;
    padding: 20px;
    margin: 20px auto;
}
            
#header h1 {
    color: #256C6C;
    text-align: center;
}
